// Color variables

$main-color: #f54b5e;
$secondary-color: #6394f8;
$tertiary-color:#dd8346;

// Media Query breakpoints 

$phone-upper-boundary: 600px;
$tablet-portrait-upper-boundary: 900px;
$tablet-landscape-upper-boundary: 1200px;
$desktop-upper-boundary: 1800px;
